__pycache__
deutschl

composer/note.txt
Sound Fonts/808s
Sound Fonts/Claps
Sound Fonts/Closed Hats
Sound Fonts/Cymbals
Sound Fonts/Drum Loops
Sound Fonts/Kicks
Sound Fonts/Open Hats
Sound Fonts/Percs
Sound Fonts/Rim Shots
Sound Fonts/Snaps
Sound Fonts/Snares

test.py